:root{
    color: #fac3f0;
}

.header-div{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 50pt;
    text-decoration: none;
    padding-top: 10pt;
}

a:active {
    color: white;

}

#media {
    border-radius: 50%;
}