{% extends "base.html" %}{% load static %}

{% block content %}

<div class="card" class="container is-max-desktop">
    <div class="card-content">
        <div class="content">

<h1>
    <center>
    {{ snippet.title }} | <a href="{% url 'index' %}">home</a>
    </center>
</h1>

<h3>
    Language: {{ snippet.language }}
        <br>
    Category: {{ snippet.category }}
        <br>
    {{ snippet.description }}
</h3>
<h4 id="code-section">
<pre><code>{{ snippet.code }}</code></pre>
    <button class="copy-btn" data-code="{{ snippet.code }}">
        copy
    </button>
</h4>

{% if snippet.public %}
    <div class="is-italic has-text-primary has-background-primary-light pl-3 pr-3 pt-1 pb-1">
        <p style="text-align: left">Snippet copied {{ snippet.copy_count }} times
{% endif %}
<br>
<br>
<button class="button is-success is-small is-responsive" class="shyButton"><a href="{% url 'edit' pk=snippet.pk %}">Edit Snippet</a></button>
<button class="button is-success is-small is-responsive" class="shyButton"><a href="{% url 'delete' pk=snippet.pk %}">Delete Snippet</a></button>

</div>
</div>
</div>
{% endblock %}