{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<title>Garbage Collection</title>
</head>
<header>
    <h1><center>Garbage Collection</center></h1>
    <center><p><em>Is your code a dumpster fire?</em></p></center>
    <nav>
        <div>
            <center>
            {% if user.is_authenticated %}
                <a href={% url 'auth_logout' %}>logout</a> 
            {% else %}
                <a href={% url 'registration_register' %}>register</a>
                <a href={% url 'auth_login' %}>login</a> 
            {% endif %}
            </center>
        </div>
    </nav>
</header>
<body>
    <div>
    {% block content %}
    {% endblock %}
    </div>
</body>
<footer>
    <p>In computer science, garbage collection is a form
        of automatic memory management. The garbage collector
        attempts to reclaim memory which was allocated by the program,
        but is no longer referenced—also called garbage.
        - <a href="https://en.wikipedia.org/wiki/Garbage_collection_(computer_science)">Wikipedia</a></p>
</footer>
</html>