{% extends "base.html" %} {% load static %}

{% block content %}
<div>
    <center><h3>what are you looking for?</h3></center>
    <div>
        <center>
        {% for category in categories %}
        <a href="{% url 'category' slug=category.slug %}"><button type="submit">{{ category.name }}</button></a>
        {% endfor %}
    </center>
    <h2><a href="{% url 'profile' %}"></a></h2>
    </div>
</div>

<div class="index-snips">
    {% for snippet in snippets %}
        <h2><a href="{% url 'detail' pk=snippet.pk %}">{{ snippet.title }}</a></h2>
        <h3>{{ snippet.description }}</h3>
        {{ snippet.code|safe }}
    {% endfor %}
</div>






{% endblock %}