{% extends "base.html" %}
{% load crispy_forms_tags %}


<h1>profile</h1>

{% block content %}
<div class="media">
    <img src="{{ user.profile.avatar.url }}">
    <h1>{{ user.username }}</h1>
    <p>{{ profile.bio }}</p>
    <p>{{ profile.created_at }}</p>
</div>

<h2>trash heap</h2>

{% for snippet in snippets %}
<div class="card" class="column">
    <header class="card-header">

    </header>
    
        <h2><u><a href="{% url 'detail' pk=snippet.pk %}" class="text-decoration-none text-reset">{{ snippet.title }}</a></u></h2>
        <h3>Language: {{ snippet.language }}</h3>
        <h3>{{ snippet.description }}</h3>
        <pre><code>{{ snippet.code }}</code></pre>
        <h4>{{ snippet.created_at }}</h4>
    
</div>
{% endfor %}

{% endblock %}