{% extends "base.html" %}{% load static %}


<h1>Profile Page</h1>

{% block content %}

<div>
    {% if user.username %}
<h1> {{ user.username }}'s Profile</h1>
    {% endif %}

    {% if user.profile.bio %}
<h3> {{ user.profile.bio }}</h3>
    {% endif %}

    {% if user.profile.created_at %}
<h4>Eatin' hot garbage since: {{ user.profile.created_at }}</h4>
    {% endif %}

    {% if user.profile.avatar %}
<img src="{{ user.profile.avatar.url }}">
    {% else %}
<img src="{{ default.jpeg }}">
    {% endif %}

    <!-- {% if obj.image %}display{% else %}<img src="default" />{% endif %} -->
</div>





{% endblock %}